* {
  background-color: rgb(111, 92, 129);
  margin: 10px;
  color: rgb(253, 249, 249);
}

body {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin-top: 8px;
  border: none;
  background-color: rgb(112, 164, 206);
  padding: 5px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.total-comp {
  display: inline;
  position: relative;
  top: 4px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(209, 202, 202);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
